#content
{
  margin-top:90px;
}
.panel-body
{
  text-align: center;
}
.panel-body button
{
  color:black;
  background-color: white;
  border-color: white;
}
div
{
  word-wrap: break-word;
}
.col-lg-3 ul li
{
  text-align: center;
}
